* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow: auto;
  scrollbar-gutter: stable;
}

/* disable defaoult autofill styles */

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -moz-text-fill-color: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}
