* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #f3f6f999;
  overflow: auto;
  scrollbar-gutter: stable;
}

a {
  text-decoration: none;
  color: inherit;
}
