* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #f3f6f999;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}
