<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Password Reset Confirmation</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      color: #000;
    }

    .container {
      max-width: 600px;
      margin: 40px auto;
      background: #ffffff;
      padding: 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
    }

    .brand-name {
      font-size: 32px;
      margin-bottom: 30px;
      font-weight: 500;
      color: #000;
    }

    .button {
      display: inline-block;
      background-color: #1976d2;
      text-transform: uppercase;
      color: white;
      padding: 15px 30px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      margin-top: 25px;
      transition: box-shadow 0.3s ease;
    }

    .button:hover {
      box-shadow: 2px 4px 12px rgba(51, 51, 51, 0.4);
    }

    h1 {
      font-weight: 400;
      margin-bottom: 10px;
      color: #000;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin: 25px 0;
      color: #000;
    }

    .footer {
      font-size: 14px;
      color: #777;
      margin-top: 30px;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="brand-name">Examix</div>
    <h1>Password Reset Requested</h1>
    <p>Hello <b>{{name}}</b>,</p>
    <p>You have requested to reset your password. Please click the button below to confirm and proceed with setting a
      new password. If you did not make this request, you can safely ignore this email.</p>
    <a href="{{confirmUrl}}" class="button" target="_blank">Reset My Password</a>
    <p class="footer">If you're having trouble with the button above, copy and paste the URL below into your web
      browser:<br><a href="{{confirmUrl}}" target="_blank" style="color: #777;">{{confirmUrl}}</a></p>
  </div>

</body>

</html>